:root {
    --main-background-color: #101010;
    --main-secondary-background-color: #202020;
    --main-text-color: #ffffff;
    --main-link-color: #fadd50;
}

body {
    background-size: 500% 500%;
    background-image: linear-gradient(30deg, 
            var(--main-background-color), var(--main-secondary-background-color) 50%, var(--main-background-color));
    -webkit-animation: AnimateBG 30s ease-in-out infinite;
            animation: AnimateBG 30s ease-in-out infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.primary {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0px 0px;
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

p {
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

img {
    margin: 12px 0px;
}

.links {
    display: flex;
    align-items: center;
}

.links p:not(:last-child)::after {
    content: '●';
    margin: 0px 10px;
}

.link {
    text-decoration: none;
    color: var(--main-link-color);
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(120deg, 
            var(--main-background-color), var(--main-secondary-background-color) 50%, var(--main-background-color));
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
        margin: 12px 0px;
    }

    img {
        width: 80%;
    }
}